.ivActive {
    overflow: hidden;
}

#ivOverlay, #ivImage, #ivController {
    position: fixed;
    z-index: 9999;
}

#ivOverlay {
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
}

#ivImage {
    border: none;
    background: #000 no-repeat;
    box-shadow: 0 0 40px #000;
    cursor: move;
}

#ivController {
    width: 180px;
    margin-left: -97px;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, .95);
    color: #fff;
    text-align: center;
    left: 50%;
}

#ivController a {
    opacity: .6;
    transition: all .5s;
    outline-style: none;
}

#ivController a:link, #ivController a:active {
    color: #fff;
}

#ivController a:hover {
    opacity: 1;
}