.ivActive {
    overflow: hidden;
}

.ivShow {
    display: block;
}

.ivHidden {
    display: none;
}

#ivOverlay, #ivLoading, #ivImage, #ivController {
    position: fixed;
    z-index: 9999;
    color: #fff;
}

#ivOverlay {
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
}

#ivLoading {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    top: 50%;
    left: 50%;
    text-align: center;
}

#ivImage {
    border: none;
    background: #000 no-repeat;
    box-shadow: 0 0 40px #000;
    cursor: move;
}

#ivController {
    width: 180px;
    margin-left: -102px;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    left: 50%;
}

#ivController a {
    color: #fff;
    opacity: .6;
    outline-style: none;
    transition: opacity .5s;
}

#ivController a:hover {
    opacity: 1;
}